@model BeestjeFeestje_2119859_FlorisWeijns.Models.Animal

@{
    ViewData["Title"] = "Edit Animal";
}

<h2>Edit Animal</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AnimalName"></label>
        <input asp-for="AnimalName" class="form-control" />
        <span asp-validation-for="AnimalName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Cost"></label>
        <input asp-for="Cost" class="form-control" />
        <span asp-validation-for="Cost" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AnimalType"></label>
        <select asp-for="AnimalType" class="form-control" asp-items="ViewBag.AnimalTypes"></select>
        <span asp-validation-for="AnimalType" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
