@model BeestjeFeestje_2119859_FlorisWeijns.Models.ManageRolesViewModel

@{
    ViewData["Title"] = "Manage Roles";
}

<h2>Manage Roles</h2>

@if (User.IsInRole("Admin"))
{
    <form asp-action="ManageRoles" method="post">
        <input type="hidden" asp-for="UserId" />
        <div class="form-group">
            <label for="SelectedRoles">Roles</label>
            <select asp-for="SelectedRoles" asp-items="@ViewBag.Roles" multiple class="form-control" id="SelectedRoles">
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
}
else
{
    <p>You do not have permission to view this page.</p>
}
