@model BeestjeFeestje_2119859_FlorisWeijns.ViewModels.CreateUserViewModel

@{
    ViewData["Title"] = "View Credentials";
}

<h2>Maak een nieuwe gebruiker aan</h2>

<div>
    <div>
        <h4 class="text-danger fw-bold">Let op deze inloggegevens zie je maar een keer!</h4>
    </div>
    <div>
        <a>@Model.Email</a>
    </div>
    <div>
        <a>@Model.Password</a>
    </div>
    <button class="btn btn-primary"><a class="text-white" asp-action="Index">Terug</a></button>
</div>