@model BookingCreateViewModelOne

<h1>Boek een beestje</h1>

<form method="post" asp-action="BookTwo">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div id="wizard">
        <input type="hidden" asp-for="Id"/>
        <input type="hidden" asp-for="UserId" />
        <input type="submit" class="btn btn-primary pull-right" value="Boek"></input>
        <ul>
            <li>
                <a>Kies een datum</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="date">
                <input type ="date" asp-for="Date"/>
            </div>
        </div>
        @if(Model.UserId == null)
        {
            <div>
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PostalCode"></label>
                    <input asp-for="PostalCode" class="form-control" />
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>
        }
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}